<div
  class="container"
  fxLayout="row"
  fxLayout.sm="column"
  fxLayout.xs="column"
  fxLayoutAlign.gt-md="space-around center"
  fxLayoutGap="10px"
  fxLayoutGap.xs="0"
>
  <div fxFlex="40">
    <mat-list *ngFor="let dish of dish.comments">
      <mat-list-item>
        <div>{{dish.comment}}</div>
        <div>{{dish.rating}}Stars</div>
        <div>--{{dish.author}}</div>
      </mat-list-item>
    </mat-list>
  </div>

  <div fxFlex="40" *ngIf="dish">
    <mat-list *ngFor="let dish of dish.comments">
      <mat-list-item>
        <div>{{dish.comment}}</div>
        <div>{{dish.rating}}Stars</div>
        <div>--{{dish.author}}</div>
      </mat-list-item>
    </mat-list>
  </div>
</div>
